{% extends "base.html" %}



{% block content %}

    <div class="container_condit">


        <div style="text-align:center;">
            <b>Пакет минимальный:</b><br> Индивидуальная фотосессия (1 человек или взрослый и ребенок) Продолжительность 1 час 20-25 фото в авторской обработке готовая продукция через файлообменник.
        </div><br>

        <div style="text-align:center;">
            <b>Пакет оптимальный:</b><br> Индивидуальная фотосессия (1 человек или взрослый и ребенок) продолжительность съёмки 2 часа 35-40 фото в авторской обработке готовая продукция через файлообменник по желанию изготовление фотокниги по мотивам
            съёмки 20Х20 10 разворотов (оплачивается дополнительно)
        </div><br>

        <div style="text-align:center;">
            <b>Пакет премиум:</b><br> Семейная фотосессия (от 3-х человек) продолжительность съёмки 2 часа 25-30 фото в авторской обработке готовая продукция через файлообменник по желанию изготовление фотокниги по мотивам съёмки 20Х20 10 разворотов (оплачивается
            дополнительно)
        </div><br>


        <div style="text-align:center;">
            <b>Подарочные сертификаты</b><br> У меня можно приобрести для подарка сертификат на фотосессию. Это лучший подарок для ваших близких и любимых. Стоимость индивидуальная по договоренности. Действителен 6 месяцев.
        </div><br>


        <div style="text-align:justify; text-indent:25px;">
            <b>Важно!!! </b>При бронировании даты съемки взымается предоплата 50% на карту Сбербанка, остальная сумма оплачивается в день съемки. При отказе от съемки, предоплата не возвращается. Возможен перенос на другие даты, кроме оплаты за аренду
            фотостудии. Аренда фотостудии и услуги стилиста-визажиста оплачиваются отдельно.
        </div><br>

        <div style="text-align:justify; text-indent:25px;">
            <b>Важно!!! </b>Я оставляю за собой право использовать наилучшие снимки (не порочащие вашу репутацию) для размещения в своей группе, на сайте, на художественных выставках, профессиональных конкурсах и т.д. О конфиденциальной съемке говорить
            заранее, тогда стоимость увеличивается на 50%.
        </div><br>



        <div style="text-align:left;">
            <b>Как сделать заказ?</b><br>

            <ul>
                <li>Связаться со мной. КОНТАКТЫ</li>
                <li>Договариваемся об условиях, дате. Выбираем место съёмки,<br>аксессуары, визажиста и стилиста (если нужно).</li>
                <li>Уточняем все детали.</li>
                <li>Вносим предоплату 50%</li>
                <li>Фотостудии оплату не возвращают.</li>
            </ul>

            Реквизиты для оплаты сообщу лично.<br><br> Я с удовольствием сделаю скидку постоянным клиентам.

        </div>






    </div>

{% endblock %}