{% extends "base.html" %}



{% block content %}

    <div class="container_cont">


        <div class="cond_block1">
            <img style="max-width: 100%;" src="/static/images/photo-nika.jpg" width="480" height="611" />
        </div>

        <div class="cond_block2">
            <div style="text-indent:25px;">Давайте знакомиться! Меня зовут Ника - я профессионально занимаюсь фотосъёмкой около 7 лет. Приоритетными направлениями являются детская и жанровая съемка.</div>

            <div style="text-indent:25px;">Первые свои черно-белые снимки я сделала на плёночный фотоаппарат в далёком 1992 году, когда родилась моя дочь Виктория. Росла моя дочь, а вместе с ней и моё мастерство… А с рождением сына Захара я поняла, что фотография для меня уже больше,
                чем просто хобби или увлечение. И я выбрала фотографию в качестве своей профессии, положив свой диплом юриста на полку.</div>
            <div style="text-indent:25px;">Мои дети - моё вдохновение, в моём портфолио очень много съемок с их участием. Дети очень быстро вырастут, и только мы, родители, ответственны за то, какая память у них и у нас останется. Благодаря моим детям, я стала профессиональным фотографом,
                чтобы у моих детей, а теперь и у Вас и Ваших детей были яркие памятные фото.</div>
            <br>

            <div style="text-indent:25px;">Добро пожаловать в мой мир фотографии!</div><br>Связаться со мной можно любым удобным для вас способом:<br> https://vk.com/club32785670
            <br> e-mail: nikasax@yandex.ru<br> instagram: nikasladkaia</div>


        <div class="cond_block3">
            <img style="max-width: 100%;" src="/static/images/photo-nika.jpg" width="480" height="611" />
        </div>



    </div>

{% endblock %}