{% extends "base.html" %}



{% block content %}

    <div class="container_cont">

        <div class="gal_block1">
            <a href="g1/">
                <img style="max-width: 100%;" src="/static/gallery/g1.jpg" width="480" height="320" />
            </a>
            <div class = "gal_text">В ожидании чуда</div>
        </div>

        <div class="gal_block2">
            <a href="g2/">
                <img style="max-width: 100%;" src="/static/gallery/g2.jpg" width="480" height="320" />
            </a>
            <div class = "gal_text">Сказка рядом</div>
        </div>

    </div>
    
    
      <div class="container_cont">

        <div class="gal_block1">
            <a href="g3/">
                <img style="max-width: 100%;" src="/static/gallery/g3.jpg" width="480" height="320" />
            </a>
            <div class = "gal_text">Озорная Иришка</div>
        </div>

        <div class="gal_block2">
            <a href="g4/">
                <img style="max-width: 100%;" src="/static/gallery/g4.jpg" width="480" height="320" />
            </a>
            <div class = "gal_text">Осенняя прогулка</div>
        </div>

    </div>
    
      <div class="container_cont">

        <div class="gal_block1">
            <a href="g5/">
                <img style="max-width: 100%;" src="/static/gallery/g5.jpg" width="480" height="320" />
            </a>
            <div class = "gal_text">Граффити</div>
        </div>

        <div class="gal_block2">
            <a href="g6/">
                <img style="max-width: 100%;" src="/static/gallery/g6.jpg" width="480" height="320" />
            </a>
            <div class = "gal_text">Летним днём</div>
        </div>

    </div>
    
    
      <div class="container_cont">

        <div class="gal_block1">
            <a href="g7/">
                <img style="max-width: 100%;" src="/static/gallery/g7.jpg" width="480" height="320" />
            </a>
            <div class = "gal_text">Юра и яркие эмоции</div>
        </div>

        <div class="gal_block2">
            <a href="g8/">
                <img style="max-width: 100%;" src="/static/gallery/g8.jpg" width="480" height="320" />
            </a>
            <div class = "gal_text">Сестры</div>
        </div>

    </div>
    
    
      <div class="container_cont">

        <div class="gal_block1">
            <a href="g9/">
                <img style="max-width: 100%;" src="/static/gallery/g9.jpg" width="480" height="320" />
            </a>
            <div class = "gal_text">Осень на память</div>
        </div>

        <div class="gal_block2">
            <a href="g10/">
                <img style="max-width: 100%;" src="/static/gallery/g10.jpg" width="480" height="320" />
            </a>
            <div class = "gal_text">Семейный новый год</div>
        </div>

    </div>


{% endblock %}