<div class="show_menu_pc">

  <div class="menu">

    <div class="text_menu"><a class="hover-efekt" href="/children/">Дети</a></div>
    <div class="block_menu"></div>
    <div class="text_menu"><a class="hover-efekt" href="/zhanr_portret/">Жанровый портрет</a></div>
    <div class="block_menu"></div>
    <div class="text_menu"><a class="hover-efekt" href="#">Семейное счастье</a></div>
    <div class="block_menu"></div>
    <div class="text_menu"><a class="hover-efekt" href="/gallery/">Галерея</a></div>
    <div class="block_menu"></div>
    <div class="text_menu"><a class="hover-efekt" href="/conditions/">Условия</a></div>
    <div class="block_menu"></div>
    <div class="text_menu"><a class="hover-efekt" href="/gb/">Отзывы</a></div>
    <div class="block_menu"></div>
    <div class="text_menu"><a class="hover-efekt" href="/contacts/">Контакты</a></div>

  </div>
</div>