<div class="show_menu_mob">

        <div class="bgmenu">
    
          <nav class="clearfix">
          <a href="#" id="pull">Меню сайта</a>
          <ul class="clearfix">
            <li><a href="/children/">Дети</a></li>
            <li><a href="/zhanr_portret/">Жанровый портрет</a></li>
            <li><a href="#">Семейное счастье</a></li>
            <li><a href="/gallery/">Галерея</a></li>
            <li><a href="/conditions/">Условия</a></li>
          <li><a href="/gb/">Отзывы</a></li>
          <li><a href="/contacts/">Контакты</a></li>
          </ul>
          </nav>
    
        </div>

</div>